*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(16,16,16,0.6),rgba(16,16,16,0.6)), url(../imgs/campeones.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

.containerIngreso{
    width: 50%;
    height: 45vh;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #efefef;
    background-color: rgba(0, 0, 0, 0.692);
    color: #efefef;
}

.btn-ingreso, .linkNav, .volverJugadores, .btn-input{
    color: #efefef;
    border: 2px solid #1975b3;
    border-radius: 10px;
    background: linear-gradient(rgb(10, 10, 250) 30%, rgb(86, 1, 120));
    padding: 10px;
    margin: 0 5px;
    box-shadow: 0 2px 2px #efefef;
}

.btn-ingreso:hover, .linkNav:hover, .volverJugadores:hover, .btn-input:hover{
    transform: scale(1.1) translateY(-2px);
}

.headerContainer h1{
    font-size: 5em;
    font-weight: bolder;
    color: darkblue;
    background: linear-gradient(blue 35%, white 50%, blue 75%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{
    font-size: 2.95em;
    font-weight: bold;
    color: rgb(246, 246, 252);
 }

 h3{ 
    padding-top: 3px;
    font-size: 0.5em;
    font-weight:900;
    margin: 0;
 }

 p{
    color:#efefef;
    font-size: 1.1em;
    padding: 20px 0;
 }

a{
    text-decoration: none;
    color: white;
}

ul{
    margin-left: 20px;
}

li{
    margin: 3px 0;
    list-style-type: none;
}

header{
    width: 100vw;
    max-width: 1400px;
    margin: auto;
    background-image: linear-gradient(rgba(16,16,16,0.6),rgba(16,16,16,0.6)), url(../imgs/header2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 2px 4px black;
}

.headerContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navegador{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 

.logo{
    width: 200px;
    padding: 10px;
}

.navInicio{
    width: 60%;
    margin: auto;
    background-color:rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;
}

main{
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.seleccionArgentina{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid  rgba(12, 12, 12, 0.801);
    box-shadow: 0 0 10px white;
    padding: 30px;
}

.sizeCarousel{
    width: 35%;
}

article{
    width: 60%;
}

.containVideos{
    width: 100%;
    max-width: 1400px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid  rgba(12, 12, 12, 0.801);
    box-shadow: 0 0 10px white;
    padding: 30px;
    text-align: center;
}

.containVideo{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.video{
    width: 350px;
}

.descarga{
    height: 330px;
    width: 240px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 4px black;
    text-align: center;
    transition: all 300ms;
    background-color: #050505;
    color: #efefef;
}

.containVideo h3{
    font-size: 1em;
}

.cartas{
    width: 100%;
    max-width: 1400px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid  rgba(12, 12, 12, 0.801);
    box-shadow: 0 0 10px white;
    padding: 30px;
}

.cancha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    background-image: url(../imgs/cancha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 515px;
    margin: 10px auto;
}

.carta{
    height: 110px;
    width: 80px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 4px black;
    text-align: center;
    transition: all 300ms;
    background-color: #050505;
    color: #efefef;
}

.img-carta{
    width: 95%;
    border-radius: 15px;
}

.fila{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.carta:hover {
    transform: scale(1.7) translateY(-10px);
}

.linkJugadores{
    font-size: 0.7em;
    font-weight: bold;
    padding: 1.5px 7.5px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 0 1px 1px rgba(243, 240, 240, 0.993);
    color: white;
    background-color: rgba(48, 4, 90, 0.822);
    text-decoration: none;
    text-align: center;
}

.linkJugadores:hover{
    background-color: rgb(104, 11, 122);
    color: #efefef;
}

.containInfo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.801);
    color: #efefef;
    height: 80vh;
    width: 100%;
}

.listaSuplentes{
    margin-top: 70px;
}

.h1Jugadores{
    font-size: 3em;
    text-align: center;
    color: #efefef;
}

.cartaInfo{
    width: 300px;
}

.cartasEquipo{
    display: flex;
}

.suplentes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
}

.suplentes h3{
    font-size: 2em;
    font-weight: bold;
    color: #efefef;
}

.suplentes li{
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 1px;
    color: #efefef;
}

.suplentes ul{
    margin: 0;
}

.containerTabla, .form{
    width: 100vw;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid  rgba(12, 12, 12, 0.801);
    box-shadow: 0 0 10px white;
    padding: 30px;
}

.tabla{
    margin-top: 20px;
}

.tabla, td, th {
    background-color: black;
    color:#efefef;
    border: 1px solid beige;
    text-align: center;
}

td, th{
    padding: 3px 10px;    
}

th{
    font-size: 2em;
}

.fotoTabla{
    width: 80px;
}

.jugadores{
    margin: auto;
}

.containerForm{
    border: 2px solid #efefef;
    background-color: rgba(8, 8, 8, 0.7);
    color: #efefef;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.containerForm h4{
    font-size: 1.4em;
}

.radio, .btns-input{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.casilla{
    border: 2px solid #1975b3b9;
    margin: 10px 15px;
    padding: 5px 10px;
}

aside{
    position: fixed;
    right: 0;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #0a0a0ac2;
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: 0 1px 2px #efefef;
}

i{
    font-size: 2em;
    padding: 10px 0;

}

#img-wsp{
    color: rgb(4, 155, 4);
}

#img-inst{
    color: rgb(228, 16, 27);
}

#img-face{
    color: rgb(82, 30, 204);
}

i:hover{
    transform: scale(2);
}

footer h3{
    padding: 0;
    margin: 0;
}

#img-wsp{
    color: green;
}

i:hover{
    transform: scale(2);
}

#img-wsp{
    color: green;
}

i:hover{
    transform: scale(2);
}

#img-wsp{
    color: green;
}

i:hover{
    transform: scale(2);
}

#img-wsp{
    color: green;
}

i:hover{
    transform: scale(2);
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 2em;
    font-weight: 700;
    text-align: end;
    border: 2px solid #efefef;
    background-color: rgba(8, 8, 8, 0.7);
    color: #efefef;
}

@media (max-width: 400px) {
    main {
        padding-top: 600px;
    }
}